body {
  text-align: center;
}

.autocomplete {
  display: inline-block;
  position:relative;
  
}

.autocomplete__list {
  position: absolute;
  
  -display: none;
  
  left: 0;
  top: 5px;
  
  width: 100%;
  
  padding: 0;
  list-style: 0;
  
  text-align: left;
}

.autocomplete__list li {
  display: block;
  padding: 3px;
  cursor: pointer;
}

.autocomplete__list li:hover {
  background: blue;
  color: white;
}

li.active {
  background: blue;
  color: white;
}