﻿.menu {
  position: relative;
  margin: 0 auto;
  
  width: 250px;
  height: 500px;
  border: solid 1px gray;
  
  padding: 5px;
}

.menu ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.menu li {
  position: absolute;
  padding: 5px;
  cursor: pointer;
  border: solid 1px #003;
  
  width: calc(100% - 10px);
  box-sizing: border-box;
  
  background: #eee;
}