﻿body {
  text-align: center;
}
.multy-select {
  display: none;
}

.multy-select__wrapper {
  position: relative;
  display: inline-block;
  
  width: 400px;
  min-height: 20px;
  
  border: 1px solid gray;
  border-radius: 5px;
  
  text-align: left;
  
  cursor: text;
  
  padding: 5px;
}

.multy-select__wrapper > input{
  width: 60%;
  outline: none;
  padding: 5px;
  border: none;
  
}

.multy-select__btn {
  display: inline-block;
  cursor: default;
  background: #ddd;
  border-radius: 3px;
  padding: 3px;
  margin: 3px;
}

.multy-select__btn button {
  padding: 0;
  background: transparent;
  color: #aaa;
  border: none;
  outline: none;
  
  cursor: pointer;
  margin-right: 3px;
}

.ul-wrapper {
  display: none;
  
  width: 100%;
  list-style: none;
  position: absolute;
  
  left: 0;
  top: 28px;
  border: solid 1px gray;
  border-radius: 3px;
}

.ul-wrapper input {
  display: block;
  box-sizing: border-box;
  width: 100%;
  padding: 3px;
}

.multy-select__wrapper ul {
  display: none;
  
  width: 100%;
  list-style: none;
  position: absolute;
  
  left: 0;
  bottom: -152px;
  border: solid 1px gray;
  border-radius: 3px;
  
  text-align: left;
  margin: 0;
  padding: 0;
  height: 150px;
  overflow-y: scroll;
  
}

.multy-select__wrapper li {
  display: block;
  padding: 5px;  
  
  cursor: pointer;
}

.multy-select__wrapper li.selected {
  background: #ddd;
}

.multy-select__wrapper li:hover {
  background: #77f;
  color: white;
}


