﻿body {
  margin: 0;
  padding: 0;
  background: #ccf;
}

.wrapper {
  margin: 100px 0;
  text-align: center;
  padding: 25px;
  
  background: #ddf;
}

img.magni {
  width: 400px;
  border: solid 3px #55f;
  border-radius: 15px;
  
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
}




.magnifier {
  width: 150px;
  height: 150px;
  position: absolute;
  
  display: none;
  
  top: 0;
  bottom: 0;
  
  border: solid 2px gray;
  border-radius: 150px;
  
  background: #eaeaea;
  cursor: none;
  
  z-index: 1000;
}