﻿body {
  text-align: center;
}
.myselect {
  width: 400px;
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;
}

.myselect-wrapper {
  position: relative;
  display: inline-block;
}

.ul-wrapper {
  display: none;
  
  width: 100%;
  list-style: none;
  position: absolute;
  
  left: 0;
  top: 28px;
  border: solid 1px gray;
  border-radius: 3px;
}

.ul-wrapper input {
  display: block;
  box-sizing: border-box;
  width: 100%;
  padding: 3px;
}

.myselect-wrapper ul {
  text-align: left;
  margin: 0;
  padding: 0;
  max-height: 150px;
  overflow-y: scroll;
  
}

.myselect-wrapper li {
  display: block;
  padding: 5px;  
  
  cursor: pointer;
}

.myselect-wrapper li:hover {
  background: #77f;
  color: white;
}


